
.icon-stopwatch:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-down-circled2:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-moon-inv:before { content: '\e804'; } /* '' */
.icon-right-big:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-gauge:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
